.list-item {
  padding: 10px;
  border: 1px solid grey;
  cursor: pointer;
}

.list-item:hover {
  background-color: rgb(238, 229, 229);
}

.active {
  background-color: blueviolet;
}

.active:hover {
  background-color: blueviolet;
}
